@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


:root {
    /* Colors */
    --primary-color: #3f5087;
    --text-color: #000000;
    --white-color: #ffffff;

    /* Typography */
    --body-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --font-weight-small: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --text-font-size: 16px;

    /* Others */
    --transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: 0.3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 45px;
    line-height: 60px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-weight: var(--font-weight-medium);
}

p,
span {
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
    font-family: var(--body-font);
}

a {
    font-size: 14px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--primary-color);
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

/* Login */
.form-control {
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  height: calc(1.3125rem + 1.2rem + 2px);
  border: 1px solid #e2e5ec;
  color: #898b92;
}

.login{
  padding: 80px;
}

.login .card{
  background: #F2F3F7;
  margin-bottom: 20px;
  border: 1px solid #E8E9EE;
  border-radius: 10px;
  box-shadow: 32px 44px 50px #E1E5EE, -23px -5px 30px #FBFDFE;
}

.login .btn-primary,
.login .btn-primary:hover{
  width: 100px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 4px;
}

/* Lead Table */

.filter-toolbar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 8px;
    padding: 16px;
}

.css-1jqq78o-placeholder{
    font-size: 14px;
}

.search-input input::placeholder{
    font-size: 14px;
}

.search-input .btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0 4px 4px 0;
    outline: none;
}

.fiter-action-btns{
    width: 100%;
    display: flex;
    gap: 8px;
}

.fiter-action-btns button{
    width: 100%;
    height: 38px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    outline: none;
    transition: var(--transition);
}

.fiter-action-btns button.btn-primary,
.fiter-action-btns button:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.leads-table-wpr{
    min-height: 60vh;
}

.leads-table-wpr .table{
    display: block;
}


.table th,
.table td{
    font-size: 14px;
    min-width: max-content;
    white-space: nowrap;
    padding: 10px 16px !important;
    vertical-align: middle;
}

.table td.assignees img{
    width: 24px;
}

.table td.assignees img:not(:first-of-type){
    position: relative;
    margin-left: -4px;
    z-index: -1;
}

/* Date Range Picker */

.date-input::before{
    position: absolute;
    content: "Contacted Date";
    top: -10px;
    left: 10px;
    width: max-content;
    font-size: 13px;
    color: #a7aebe;
    background-color: var(--white-color);
}

.date-input::after{
    position: absolute;
    content: "\f073";
    top: 12px;
    right: 12px;
    font: normal normal normal 14px/1 FontAwesome;
    color: #a7aebe;
}

.search-input input,
.date-input input{
    width: 100%;
    height: 38px;
    font-size: 14px;
    color: #a7aebe;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 12px;
    outline: none;
}

.single-filter .dateInput:focus{
    border: 2px solid #2684ff;
}

.date-filter .date-picker-wpr{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
}

.rdrDefinedRangesWrapper{
    display: none;
}

.rdrCalendarWrapper{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Pagination */

.leads-pagination-wpr{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.leads-pagination-wpr .data-show{
    display: flex;
    align-items: center;
    gap: 16px;
}

.leads-pagination-wpr .page-input{
    position: relative;
}

.leads-pagination-wpr .page-input::before{
    position: absolute;
    content: attr(data-content);
    top: -8px;
    left: 50%;
    width: max-content;
    font-size: 12px;
    color: #a7aebe;
    background-color: var(--white-color);
    transform: translateX(-50%);
}

.leads-pagination-wpr .page-input::after{
    position: absolute;
    content: "\f0d7";
    top: 14px;
    right: 10px;
    color: #a7aebe;
    font: normal normal normal 14px/1 FontAwesome;
}

.leads-pagination-wpr .page-input input,
.leads-pagination-wpr .page-input select{
    appearance: none;
    width: 80px;
    height: 40px;
    font-size: 14px;
    color: #000;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 8px;
    outline: none;
}

.data-pagination{
    display: flex;
    align-items: center;
    gap: 16px;
}

.data-pagination button{
    border: none;
    outline: none;
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Responsive */

/* Min Width 1600px */
@media only screen and (min-width: 1600px){

    .container{
        max-width: calc(100% - 180px);
    }

    .filter-toolbar{
        grid-gap: 24px !important;
    }

    .leads-table-wpr .table{
        display: table;
    }
}

/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container{
        max-width: calc(100% - 80px);
    }

    .filter-toolbar{
        grid-gap: 16px;
    }

}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .container{
        max-width: calc(100% - 80px);
    }

}

/* Max Width 991px */
@media only screen and (max-width:991px){

    .container{
        max-width: 90%;
    }

    .filter-toolbar{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 16px;
    }

    .leads-pagination-wpr{
        justify-content: space-between;
    }

}

/* Min Width 1200px */
@media only screen and (max-width:767px){

    .container{
        max-width: 95%;
    }

}

/* Max Width 576px */
@media only screen and (max-width:576px){

    .filter-toolbar{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    
}

/* Max Width 416px */
@media only screen and (max-width:416px){

    .filter-toolbar{
        grid-template-columns: 1fr;
    }

    .leads-pagination-wpr{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 16px;
    }
    
}

/* Max Width 390px */
@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }
    
}