@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");


:root {
    /* Colors */
    --primary-color: #3f5087;
    --text-color: #000000;
    --white-color: #ffffff;

    /* Typography */
    --body-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --font-weight-small: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --text-font-size: 16px;

    /* Others */
    --transition: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: 0.3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 45px;
    line-height: 60px;
    font-weight: var(--font-weight-medium);
}

h4 {
    font-weight: var(--font-weight-medium);
}

p,
span {
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
    font-family: var(--body-font);
}

a {
    font-size: 14px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--primary-color);
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

/* Login */
.form-control {
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  height: calc(1.3125rem + 1.2rem + 2px);
  border: 1px solid #e2e5ec;
  color: #898b92;
}

.login{
  padding: 80px;
}

.login .card{
  background: #F2F3F7;
  margin-bottom: 20px;
  border: 1px solid #E8E9EE;
  border-radius: 10px;
  box-shadow: 32px 44px 50px #E1E5EE, -23px -5px 30px #FBFDFE;
}

.login .btn-primary,
.login .btn-primary:hover{
  width: 100px;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 4px;
}

/* Lead Table */

.filter-toolbar{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 24px;
    padding: 16px;
}

.single-filter select{
    width: 100%;
    height: 35px;
    font-size: 14px;
    font-weight: 500 !important;
    color: #a7aebe;
    border-color: #e1e1e1;
    border-radius: 4px;
    padding: 0 8px;
}

.single-filter select:focus{
    border-color: #e1e1e1;
    outline: none;
}

.fiter-action-btns{
    width: 100%;
    display: flex;
    gap: 8px;
}

.fiter-action-btns button{
    width: 100%;
    height: 35px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    outline: none;
    transition: var(--transition);
}

.fiter-action-btns button.btn-primary,
.fiter-action-btns button:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.leads-table-wpr .table{
    display: block;
}


.table th,
.table td{
    font-size: 14px;
    min-width: max-content;
    white-space: nowrap;
    padding: 10px 16px !important;
    vertical-align: middle;
}

.table td.assignees img{
    width: 24px;
}

.table td.assignees img:not(:first-of-type){
    position: relative;
    margin-left: -4px;
    z-index: -1;
}

/* Responsive */

/* Min Width 1600px */
@media only screen and (min-width: 1600px){
    .container{
        max-width: 1550px !important;
    }

    .leads-table-wpr .table{
        display: table;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .container{
        max-width: calc(100% - 80px);
    }

}

/* Min Width 1200px */
@media only screen and (max-width:991px){

    .container{
        max-width: 90%;
    }

}

/* Min Width 1200px */
@media only screen and (max-width:767px){

    .container{
        max-width: 95%;
    }

}

/* Max Width 390px */

@media only screen and (max-width:390px){

    .container{
        max-width: 100% !important;
    }
    
}